<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Admin page</title>-->

<!--    <h1>This is admin page </h1>-->
<!--</head>-->

<!--<body>-->
<!--<table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">ID</th>-->
<!--        <th scope="col">UserName</th>-->
<!--        <th scope="col">email</th>-->
<!--    </tr>-->
<!--    </thead>-->


<!--    <div th:each="user : ${users}">-->
<!--        <tr>-->
<!--            <td th:text="${user.getId()}"></td>-->
<!--            <td th:text="${user.getUsername()}"></td>-->
<!--            <td th:text="${user.getEmail()}"></td>-->
<!--            <td th:text="${user.getRoles()}"></td>-->
<!--            <td>-->
<!--                <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.getId()})}">-->
<!--                    <input type="submit" value="Edit"/>-->
<!--                </form>-->
<!--            <td>-->
<!--                <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">-->
<!--                    <input type="submit" value="Delete"/>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->

<!--    </div>-->
<!--</table>-->
<!--<br>-->
<!--<hr>-->
<!--<a th:href="@{/admin/new}">Create new user</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<form th:method="POST" th:action="@{/logout}">-->
<!--    <input type="submit" value="Logout"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>List of users</title>-->
<!--</head>-->
<!--<body>-->

<!--<div>-->
<!--    <a href="addUser.html" th:href="@{/admin/addUser}">Add user</a>-->
<!--</div>-->

<!--<div>-->
<!--    <table border="1">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>Name</th>-->
<!--            <th>Email</th>-->
<!--            <th>Roles</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="user : ${users}">-->
<!--            <td th:text="${user.id}"/>-->
<!--            <td><a th:href="@{/admin/showUser/{id}(id=${user.getId()})}" th:text="${user.username}"/></td>-->
<!--            <td th:text="${user.email}"/>-->
<!--            <td th:text="${user.roleToString()}"/>-->
<!--            <td>-->
<!--                <form th:method="DELETE" th:action="@{'/admin/' + ${user.id} + '/delete'}">-->
<!--                    <input type="submit" value="Delete" style="width: 70px;"/>-->
<!--                </form>-->
<!--                <form th:action="@{'/admin/' + ${user.id} + '/edit'}">-->
<!--                    <input type="submit" value="Edit" style="width: 70px;"/>-->
<!--                </form>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--<div>-->
<!--    <a th:href="@{/admin}">To the main page</a>-->
<!--</div>-->
<!--<div align="left"><a th:href="@{/logout}">Logout</a></div>-->

<!--</body>-->
<!--</html><!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>List of users</title>-->
<!--</head>-->
<!--<body>-->

<!--<div>-->
<!--    <a href="addUser.html" th:href="@{/admin/addUser}">Add user</a>-->
<!--</div>-->

<!--<div>-->
<!--    <table border="1">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>Name</th>-->
<!--            <th>Email</th>-->
<!--            <th>Roles</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="user : ${users}">-->
<!--            <td th:text="${user.id}"/>-->
<!--            <td><a th:href="@{/admin/showUser/{id}(id=${user.getId()})}" th:text="${user.username}"/></td>-->
<!--            <td th:text="${user.email}"/>-->
<!--            <td th:text="${user.roleToString()}"/>-->
<!--            <td>-->
<!--                <form th:method="DELETE" th:action="@{'/admin/' + ${user.id} + '/delete'}">-->
<!--                    <input type="submit" value="Delete" style="width: 70px;"/>-->
<!--                </form>-->
<!--                <form th:action="@{'/admin/' + ${user.id} + '/edit'}">-->
<!--                    <input type="submit" value="Edit" style="width: 70px;"/>-->
<!--                </form>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--<div>-->
<!--    <a th:href="@{/admin}">To the main page</a>-->
<!--</div>-->
<!--<div align="left"><a th:href="@{/logout}">Logout</a></div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adminka</title>
</head>
<body>

<div>
    <a href="addUser.html" th:href="@{/admin/addUser}">Add user</a>
</div>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td th:text="${user.id}"/>
            <td><a th:href="@{/admin/showUser/{id}(id=${user.getId()})}" th:text="${user.username}"/></td>
            <td th:text="${user.email}"/>
            <td th:text="${user.roleToString()}"/>
            <td>
                <form th:method="DELETE" th:action="@{'/admin/' + 'delete/'+ ${user.id}}">
                    <input type="submit" value="Delete" style="width: 70px;"/>
                </form>
                <form th:action="@{'/admin/' + 'edit/' + ${user.id}}">
                    <input type="submit" value="Edit" style="width: 70px;"/>
                </form>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{/}">To the main page</a>
</div>
<div align="left"><a th:href="@{/logout}">Logout</a></div>

</body>
</html>